* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    line-height: 1.6;
}


div#container{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div.bookCard{
    border: 2px solid black;
}